<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script src="../js/jquery.min.js"></script>

    <!-- bootstrap 核心js文件 -->
    <script src="../js/bootstrap/js/bootstrap.min.js"></script>

    <!-- bootStrap addTabs -->
    <script src="../js/bootStrap-addTabs/bootstrap.addtabs.js"></script>

    <!-- bootStrap table -->
    <script src="../js/bootstrap-table/dist/bootstrap-table.js"></script>
    <!-- bootStrap table 语言包中文-->
    <script src="../js/bootstrap-table/dist/locale/bootstrap-table-zh-CN.js"></script>

    <!-- bootstrap-datetimepicker -->
    <script src="../js/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
    <script src="../js/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>

    <!-- bootstrap-dialog -->
    <script src="../js/bootstrap-dialog/dist/js/bootstrap-dialog.js"></script>
    <!-- bootstrap-fileinput -->
    <script src="../js/bootstrap-fileinput/js/fileinput.js"></script>
    <script src="../js/bootstrap-fileinput/js/locales/zh.js"></script>

    <!-- Bootstrap 插件 css -->
    <link href="../js/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet">
    <!-- Bootstrap 核心css -->
    <link href="../js/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap TreeView css -->
    <link href="../js/bootstrap-treeview/dist/bootstrap-treeview.min.css" rel="stylesheet">
    <!-- Bootstrap addTabs css -->
    <link href="../js/bootStrap-addTabs/bootstrap.addtabs.css" rel="stylesheet">

    <!-- Bootstrap table css -->
    <link href="../js/bootstrap-table/dist/bootstrap-table.css" rel="stylesheet">
    <!-- bootstrap-datetimepicker css -->
    <link href="../js/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css" rel="stylesheet">

    <!-- bootstrap-dialog css -->
    <link href="../js/bootstrap-dialog/dist/css/bootstrap-dialog.css" rel="stylesheet">
    <!-- bootstrap-fileinput css -->
    <link href="../js/bootstrap-fileinput/css/fileinput.css" rel="stylesheet">
    <script src="../js/bootstrap-bootbox/bootbox.js"></script>



</head>
<body>


<form class="form-horizontal" id="saveForm">

    <div class="form-group">
        <label for="platformname" class="col-sm-2 control-label">平台名称</label>
        <div class="col-sm-8">
            <input type="text" name="platformname" id="name"  class="form-control" placeholder="请输入平台名称" />
        </div>

    </div>


    <div class="form-group">
        <label for="platformheadline" class="col-sm-2 control-label">平台标题</label>
        <div class="col-sm-8">
            <input type="text" name="platformheadline" id="platformheadline" class="form-control" placeholder="请输入平台标题" />
        </div>
    </div>

    <div class="form-group">
        <label for="platformdescription" class="col-sm-2 control-label">平台描述</label>
        <div class="col-sm-8">
            <input type="text" name="platformdescription" id="platformdescription" class="form-control" placeholder="平台描述" />
        </div>
    </div>


    <div class="form-group">
        <label for="keyword" class="col-sm-2 control-label">关键词</label>
        <div class="col-sm-8">
            <input type="text" name="keyword" id="keyword" class="form-control" placeholder="关键词" />
        </div>
    </div>


    <div class="form-group">
        <label class="col-sm-1 control-label">平台Logo</label>
        <div class="col-sm-9">
            <input type="file" class="projectfile" accept="image/*" name="file" id="fileinput">
            <input type="text" style="display: none;" name="platformlogd" id="hideimg">
        </div>
    </div>


    <div class="form-group">
        <label for="customerhotline" class="col-sm-2 control-label">客户热线</label>
        <div class="col-sm-8">
            <input type="text" name="customerhotline" id="customerhotline" class="form-control" placeholder="客户热线" />
        </div>
    </div>




    <div class="form-group">
        <label for="customermailbox" class="col-sm-2 control-label">客户邮箱</label>
        <div class="col-sm-8">
            <input type="text" name="customermailbox" id="customermailbox" class="form-control" placeholder="客户邮箱" />
        </div>
    </div>


    <div class="form-group">
        <label for="configuration" class="col-sm-2 control-label">配置说明</label>
        <textarea class="col-sm-7" rows="3" cols="4" name="configuration" id="configuration"></textarea>

    </div>


    <input type="button" value="修改" id="updateUser" onclick="updateLmy()">

</form>



<div id="userTable"></div>



    <input type="text"  id="aa"  th:value="${session.id}" />



</body>

    <script>
$(function(){
    xuan();
   // initUserTable();
    initFileInput();
})


function updateLmy(){
    var id=$("#aa").val();
    alert("---修改"+id)
    $.ajax({
        url:"../url/findByid?id="+id,
        type:"post",
        data:$("#saveForm").serialize(),
        success:function(){


            alert("修改成功 ")

         //   location.href="../page/index";

        }

    })



}




/*


$("#updateUser").click(function(){
    $.ajax({
        url:"../url/lmyquery1",
        type:"post",
        data:$("#userForm").serialize(),
        success:function(){
            alert("修改成功！");
            //跳转到列表页面
           /!* location.href="../url/toaList";*!/
        },
        error:function(){
            alert("修改失败！");
        }

    })
})
*/


function initUserTable(){
    $("#userTable").bootstrapTable({
        toolbar:'#toolbar',
        url:'../url/querylmy',
        method:'post',
        contentType:'application/x-www-form-urlencoded',//post请求按照表单方式
        pagination:true,
        sidePagination:'server',//分页方式：client客户端分页，server服务端分页
        pageNumber:1,
        pageList:[2,4,6,8,10],
        pageSize:2,
        clickToSelect: true, //是否启用点击选中行
        queryParams:function(){

            return {
                page:this.pageNumber,
                rows:this.pageSize,

            }
        },
        columns:[
            {checkbox:true},
            {field:'id',title:'id'},
            {field:'platformname',title:'平台名称'},
            {field:'platformheadline',title:'平台标题'},
            {field:'platformdescription',title:'平台描述'},
            {field:'keyword',title:'关键词'},

            {field:'platformlogd',title:'平台Logo',formatter:function(value,row,index){
                    return '<img width="50px" height="50px" src="'+value+'"/>';
                }},

            {field:'customerhotline',title:'客户热线'},
            {field:'customermailbox',title:'客户邮箱'},
            {field:'configuration',title:'配置说明'},

            {field:'cz',title:'操作',formatter:function(value,row,index){
                    return '<button onclick="openUpdate('+row.id+')" type="button" class="btn btn-primary">修改</button>';
                }}
        ]

    })
}







       function xuan(){

            var id=$("#aa").val();
            alert("----回显"+id)

            $.ajax({
                url:'../url/lmyquery1',
                data:{id:id},
                success:function(data){

                    $("#name").val(data.platformname);
                    $("#platformheadline").val(data.platformheadline);
                    $("#platformdescription").val(data.platformdescription);
                    $("#keyword").val(data.keyword);
                    $("#hideimg").val(data.platformlogd);
                    $("#customerhotline").val(data.customerhotline);
                    $("#customermailbox").val(data.customermailbox);
                    $("#configuration").val(data.configuration);


                }
            })

        }


function initFileInput(){
    $("#fileinput").fileinput({
        language: 'zh', //设置语言
        uploadUrl: '../url/upload', //上传的地址
        allowedFileExtensions: ['jpg', 'gif', 'png'],//接收的文件后缀
        showUpload: true, //是否显示上传按钮
        showCaption: false,//是否显示标题
        browseClass: "btn btn-primary", //按钮样式
        maxFileCount: 2, //表示允许同时上传的最大文件个数
        enctype: 'multipart/form-data',
        validateInitialCount:true,
        previewFileIcon: "<i class='glyphicon glyphicon-king'></i>",
        msgFilesTooMany: "选择上传的文件数量({n}) 超过允许的最大数值{m}！",

    }).on('fileuploaded', function(event, data, previewId, index) {
        var imgval = "http://<%= request.getServerName()%>:<%=request.getServerPort()%><%=request.getContextPath()%>/"+data.response.img;
        $('#hideimg').val(imgval);
    });
}







    </script>







</html>