<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<br><br>

<form class="form-horizontal" id="saveForm">

    <input type="hidden" name="id" id="id" />
    <div class="form-group">
        <label for="platformname" class="col-sm-2 control-label">平台名称</label>
        <div class="col-sm-8">
            <input type="text" name="platformname" id="platformname" class="form-control" placeholder="请输入平台名称" />
        </div>

    </div>


    <div class="form-group">
        <label for="platformheadline" class="col-sm-2 control-label">平台标题</label>
        <div class="col-sm-8">
            <input type="text" name="platformheadline" id="platformheadline" class="form-control" placeholder="请输入平台标题" />
        </div>
    </div>

    <div class="form-group">
        <label for="platformdescription" class="col-sm-2 control-label">平台描述</label>
        <div class="col-sm-8">
            <input type="text" name="platformdescription" id="platformdescription" class="form-control" placeholder="平台描述" />
        </div>
    </div>


    <div class="form-group">
        <label for="keyword" class="col-sm-2 control-label">关键词</label>
        <div class="col-sm-8">
            <input type="text" name="keyword" id="keyword" class="form-control" placeholder="关键词" />
        </div>
    </div>


    <div class="form-group">
        <label class="col-sm-1 control-label">平台Logo</label>
        <div class="col-sm-9">
            <input type="file" class="projectfile" accept="image/*" name="file" id="fileInputs">
            <input type="text" style="display: none;" name="platformlogd" id="hideimg">
        </div>
    </div>


    <div class="form-group">
        <label for="customerhotline" class="col-sm-2 control-label">客户热线</label>
        <div class="col-sm-8">
            <input type="text" name="customerhotline" id="customerhotline" class="form-control" placeholder="客户热线" />
        </div>
    </div>




    <div class="form-group">
        <label for="customermailbox" class="col-sm-2 control-label">客户邮箱</label>
        <div class="col-sm-8">
            <input type="text" name="customermailbox" id="customermailbox" class="form-control" placeholder="客户邮箱" />
        </div>
    </div>


    <div class="form-group">
        <label for="configuration" class="col-sm-2 control-label">配置说明</label>
        <textarea class="col-sm-7" rows="3" cols="4" name="configuration"></textarea>

    </div>

</form>


</body>
</html>