<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container-fluid">
    <form id="deptForm">
        <div class="row">
            <div class="col-md-2">
                <label for="deptName">部门名称</label>
            </div>
            <div class="col-md-10">
                <input type="text" class="form-control" name="deptName" id="deptName" placeholder="请输入名称">
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <label for="deptShow">职能描述</label>
            </div>
            <div class="col-md-10">
                <textarea class="form-control" name="deptShow" id="deptShow" rows="3" placeholder="请输入描述"></textarea>
            </div>
        </div>
    </form>
</div>
</body>
</html>
